/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#f8f8f8;
}
h1{
	text-align:center;
	margin:20px;
}
.book-library{
	background-color:#ffffff;
	display:flex;
	flex-direction:column;
	gap:20px;
	
}
.book{
	display:flex;
	flex-direction:column;

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
		color:#777777	
}
b{
	text-align:center;
	background-color:#2ecc71;
	color:white;
}

